<div class="edit-user-container">
  <h2>Edit User</h2>
  <!-- Form fields for editing user go here -->
  <form *ngIf="userWrapper" #editUserForm="ngForm" (ngSubmit)="saveUser()">
    <div class="form-grid">
      <div>
  <label>User ID:</label>
        <input type="number" [(ngModel)]="userWrapper.User.fnUserID" name="fnUserID" readonly />
        <label>First Name:</label>
        <input type="text" [(ngModel)]="userWrapper.User.fcFirstName" name="fcFirstName" />
  <label>User NT:</label>
        <input type="text" [(ngModel)]="userWrapper.User.fcUserNT" name="fcUserNT" />
        <label>Department:</label>
  <input type="text" [(ngModel)]="userWrapper!.Department!.fcDepartmentName" name="fcDepartmentName" />
        <label>Status:</label>
        <input type="text" [(ngModel)]="userWrapper.User.fcApprovalStatus" name="fcApprovalStatus" />
        <label>Run Console Permission:</label>
        <input type="checkbox" [(ngModel)]="userWrapper.User.fnRunConsolePermission" name="fnRunConsolePermission" />
        <label>TimeZone:</label>
  <input type="text" [(ngModel)]="userWrapper!.TimeZoneOffset!.TimeZoneName" name="TimeZoneName" />
      </div>
      <div>
        <label>Last Name:</label>
        <input type="text" [(ngModel)]="userWrapper.User.fcLastName" name="fcLastName" />
        <label>Email:</label>
        <input type="email" [(ngModel)]="userWrapper.User.fcUserEmail" name="fcUserEmail" />
        <label>Access:</label>
  <input type="text" [(ngModel)]="userWrapper!.UserAccess!.fcAccessDescription" name="fcAccessDescription" />
        <label>Comments:</label>
        <input type="text" [(ngModel)]="userWrapper.User.fcComments" name="fcComments" />
        <label>Developer:</label>
        <input type="checkbox" [(ngModel)]="userWrapper.User.fbDeveloper" name="fbDeveloper" />
      </div>
    </div>
    <div class="form-actions">
      <button type="submit">Save</button>
      <button type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
