
<div class="users-container">
  <div class="users-header">
    <h2>Users</h2>
    <button class="add-btn" (click)="openAddUser()" title="Add New User">
      <span class="plus-icon">&#43;</span>
    </button>
  </div>
  <div *ngIf="loading">Loading users...</div>
  <div *ngIf="error" class="error">{{ error }}</div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First</th>
        <th>Last</th>
        <th>Approval</th>
        <th>Access</th>
        <th>Department</th>
        <th>Email</th>
        <th>Login</th>
        <th>Timezone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ user.User.fnUserID }}</td>
        <td>{{ user.User.fcFirstName }}</td>
        <td>{{ user.User.fcLastName }}</td>
        <td>{{ user.User.fcApprovalStatus }}</td>
        <td>{{ user.UserAccess?.fcAccessDescription }}</td>
        <td>{{ user.Department?.fcDepartmentName }}</td>
        <td>{{ user.User.fcUserEmail }}</td>
        <td>{{ user.User.fcUserNT }}</td>
        <td>{{ user.TimeZoneOffset?.TimeZoneName }}</td>
        <td>
          <button (click)="navigateToUserDetails(user, i)">Details</button>
          <button (click)="navigateToEditUser(user, i)">Edit</button>
          <button (click)="deleteUser(user.User.fnUserID)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>



</div>
